<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール画像：
    <br><%= image_tag @user.image.url if @user.image? %></p>
    <br><%= link_to 'お気に入り一覧', favorite_path(current_user.id)%>
